*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 7%;
    color: #fff;
}
.circle{
    width: 100px;
    background-color: #fff;
    border-radius: 20px;
}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;

}
nav .btn{
    color: #fff;
    text-decoration: solid;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
}

.content{
    margin-top: 6%;
 
}

.content h1{
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span{
    color: #ffd700;
}

#btn2{
    padding: 12px 20px; /* Adds space inside the button */
    background-color: #3498db; /* Blue background */
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Makes the text bold */
    border: none; /* Removes the default border */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to a pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: auto;

}

#btn2:hover{
    
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05);
}

.coin-list{
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}

.coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
    color: #eaaf0f;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 12px;
}

.coin img{
    width: 40px;
    margin-right: 10px;
}
.coin h3{
    color: #fff;
}